body {
    background-color: lightblue;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 180px
}

.button:hover {
    background-color: rgb(43, 126, 46);
    color: white;
}

.button:active {
    background-color:rgb(21, 139, 25);
    border: 1px solid gray;
}

.ukryty {
    display: none;
}

#tresc {
    font-size: 20px;
}

.board {
    margin: 0 auto;
    padding: 5px;
    border-collapse: separate;
    border-spacing: 10px;
}

.board thead td {
    padding: 5px;
    font-weight: 400;
    border: 2px solid black;
    border-radius: 5px;
}

.board tbody td {
    padding: 5px;
    border: 2px solid red;
    border-radius: 5px;
}